a,
a:focus,
a:hover {
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}


html,
body{
    height: 100%;
    padding: 0;
    margin: 0;
    

}

body {
    
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background: url("img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    
}

h4 {
    display: inline;
}

nav {
justify-items: center;
align-content: center;
    
}

main {
    padding-top: 5%;
}

div.album {
    background-color: rgba(245, 245, 245, 0.05);
    backdrop-filter: blur(5px);
    width: auto;
    margin: 0% 20%;
}

p.font-weight-normal{
    text-shadow: .5rem .5rem 1.5rem rgba(0,0,0,1);
}
h4 button {
    margin-bottom: .5rem;
}

.container-fluid {
    width: auto;
}

a i {
    font-size: 2rem;
}



.inner-cover {
    padding-top: 50%;
}

.cover{
    padding: 0 1.5rem;

}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
.cover-container {
    max-width: 42em;
}

.masthead {
    margin-bottom: 2rem;
}


.card {
    transition: -webkit-transform 0.3s ease-out;
    width: 22rem;
    background-color: rgba(245, 245, 245, 0.5);
}


.card:hover {
    transform: scale(1.03, 1.03);
}

.card-body {
    background-color: rgba(10, 10, 10, 0.4);
}

.content {
    opacity: 0;
    position: absolute;
    height: 225px;
    width: 22rem;
    margin: 0px 2px 0px 2px;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255);
    font-weight: 500;
    background-color: rgba(20, 20, 20, 0.5);
    transition: all 400ms ease-out;
    -webkit-transition: all 400ms ease-out;
    margin: auto;
    padding: 0% 5% 0% 5%;
    border-radius: 2px;
}

.content button {
    margin-top: 120px;
    opacity: 1;

}

.content:hover {
    opacity: 1;
}

.content .project-text  {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;

}


.content:hover .project-text{
    opacity: 1;
    transform: translateY(50px);
}

.content:hover button {
    opacity: 1;
}

.jumbotron {
    width: auto;
    margin: 0% 20% 2% 20%;
    background-color: rgba(50, 50, 50, 0.2)
}
.nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    text-align: center;
}

.nav-link:hover,
.nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-link + .nav-link {
    margin-left: 1rem;
}

.active {
    color: #fff;
    border-bottom-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > div[class*='col-'] {
    display: flex;
}


@media (min-width: 48em){

    .nav-masthead {
        float: right;
    }
}

.inner-cover {
    padding-top: 40;
}

.fa-linkedin {
    padding-bottom: 10px;
}

@media (min-width: 576px) { 
    .card-img-top {
      height: 50vw;
    }
  }
  
  @media (min-width: 768px) { 
    .card-img-top {
      height: 30vw;
    }
  }
  
  @media (min-width: 992px) { 
    .card-img-top {
      height: 20vw;
    }
  }
  
  @media (min-width: 1200px) { 
    .card-img-top {
      height: 20vw;
    }
  }
  
